#geralContainer{
    background-color: cornflowerblue;
    
}
#textGeral{
    color: white;
}
#carShopp1{
    color: white;
    padding-left: 371%;
    
}
#numberCarShopp{
    margin: -32px 0px 10px 0;
    font-size: 10px;
    margin-left: 330%;
}
