#navTotal{
    background-color: cornflowerblue;
    height: 100%;
}
#textGeral{
    color: white;
}
#carShopp1{
    color: white;
    
    
    
}
#usuarios{
    color: white;
    
}


@media(min-width: 992px){
    #carShopp1 {
        position: absolute;
        right: -150px;
    }
    #usuarios{
        position: absolute;
        left: 900px;
        margin-top: 5px;
        
    }
}
