#navTotal{
    background-color: cornflowerblue;
    height: 100%;
}
#textGeral{
    color: white;
}
#carShopp1{
    color: white;
    
    
    
}

.fa-counter{

}
@media(min-width: 992px){
    #carShopp1 {
        position: absolute;
        right: -150px;
    }
}
